[Desktop Entry]
Type=Service
Name=KtikZ - TikZ File Viewer
Name[es]=Visor de ficheros TikZ - KtikZ
Name[fr]=Visionneuse de fichiers TikZ - KtikZ
MimeType=text/x-pgf;
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=ktikzpart
InitialPreference=12
Icon=ktikz
