[Desktop Entry]
Type=Application
Name=QTikZ
Exec=qtikz
Icon=
Terminal=false
MimeType=text/x-pgf;text/x-tex;
Categories=Qt;Office;
GenericName=TikZ editor
GenericName[fr]=Éditeur TikZ
Comment=Program for creating TikZ (from the LaTeX pgf package) diagrams
Comment[fr]=Programme pour créer des diagrammes TikZ (du paquet LaTeX pgf)
