[Desktop Entry]
Type=Application
Name=QtikZ
Exec=qtikz
Icon=
Terminal=false
MimeType=text/x-pgf;text/x-tex;
Categories=Qt;Office;
GenericName=TikZ editor
GenericName[es]=Editor TikZ
GenericName[fr]=Éditeur TikZ
Comment=Program for creating TikZ (from the LaTeX pgf package) diagrams
Comment[es]=Programa para crear diagramas TikZ (del paquete pgf en LaTeX)
Comment[fr]=Programme pour créer des diagrammes TikZ (du paquet LaTeX pgf)
